.u-center-text { text-align: center; }

.u-margin-bottom-small { margin-bottom: 1.5rem; }
.u-margin-bottom-medium { margin-bottom: 4rem; }
.u-margin-bottom-big { margin-bottom: 8rem; }

.u-margin-top-big { margin-top: 8rem; }
.u-margin-top-huge { margin-top: 12rem; }


.flex-row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 15rem;
}

.flex-col-1-of-2 {
    display: flex;
    flex-direction: column;
    flex: 0 1 50%;
    margin-bottom: 5rem;

    &:not(:last-child) {
        margin-right: 5rem;
    }
}

.flex-col-1-of-4 {
    display: flex;
    flex-direction: column;
    flex: 0 1 25%;
    margin-bottom: 5rem;

    &:not(:last-child) {
        margin-right: 5rem;
    }
}

.u-skew-7 {
    display: flex;
    flex: 0 0 90%;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5rem;
}